.container{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  text-align: center;
}
.container >*{
  padding: 10px;
  flex:1 100%;
}
.header{
  background-color: #FFFFF0;
  color:#696969;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: x-large;
}
.navigation{
  margin: 0;
  font-size: small;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.navigation a {
  margin:30px 0;
	display:block;
	text-decoration:none;
  color:#696969;
  padding: 0 20px;
}
.main-content{
  background-color:#FFFFF0;
  color:#696969;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.navigation a:hover {
	background-color:#FCF3CF  ;
	color:#696969;
}
.footer{
  background-color: #FFFFF0;
  color:#696969;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: small;
}
.gallery{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: flex-start;
}
.inner-image{
  margin: 5px;
  transition: all 0.8s;
  max-height: 350px;
}
.inner-image:hover{
  transform: scale(1.1);
}
.form p{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  margin: 0 auto;
}
input[type=text],input[type=email], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type=submit] {
  background-color: #696969;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color:darkgrey;
}
.labels{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size:small;
}
@media all and (max-width: 600px) {
 .navigation{
   flex-flow: column wrap;
   padding: 0;
 }
 .navigation a{
   margin: 0;
   text-align: center;
   padding: 10px;
   border-top: 1px solid rgba(255,255,255,0.3); 
    border-bottom: 1px solid rgba(0,0,0,0.1);
 }
}

@media all and (min-width: 800px) {
  .header  {order:1}
  .navigation      {order:2}
  .main-content    { flex: 3 0px; }
  .main-content    { order: 3; }
  .footer  { order: 4; }
}

body {
  padding: 2em; 
}
